# Copiar para .env e ajustar
DATABASE_URL="postgresql://USER:PASSWORD@localhost:5432/runx_fase2?schema=public"
PORT=3000
JWT_ACCESS_SECRET="change_me_access"
JWT_REFRESH_SECRET="change_me_refresh"
JWT_ACCESS_EXPIRES_IN="1h"
JWT_REFRESH_EXPIRES_IN="7d"
OPENWEATHER_API_KEY=""
